<!DOCTYPE html>

<html class="desktop" lang="UA">  

<head> 
  <meta charset="utf-8">
  <title>Про Нас | Львівський Обласний Учбовий Центр</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  
  <!-- Styles -->
  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- endbuild -->
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">

  <!-- Theme Color -->
  <meta name="theme-color" content="#0095da">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#0095da">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>

<body>

  <!-- PRELOADER -->
  <div class="lds-css ng-scope">
    <div style="width:100%;height:100%" class="lds-wedges">
      <div><div><div></div></div><div><div></div>
    </div><div><div></div></div><div><div></div>
  </div></div></div></div>
  <!-- END PRELOADER -->

  <header class="page-header">

    <div class="page-header__logo">
      <a href="/index.html">
        <img src="assets/img/logo/logo_header_lg.png" alt="Львівський Обласний Учбовий Центр">
      </a>
      <div class="page-header__logo-text">
        <div class="first-text">Комунальне підприємство Львівської обласної ради</div>
        <div class="sec-text"> «Львівський обласний учбовий центр»</div>
      </div>
    </div>

    <div class="page-header__menu-content">
      <nav class="primary-nav">
        <ul>
          <li><a class="active" href="/about_us_page.html">Про Нас</a></li>
          <li><a href="/workers_page.html">Навчання Робітників</a></li>
          <li><a href="/itp_page.html">Навчання ІТП</a></li>
          <li><a href="/energy_audit_page.html">Енергоаудит</a></li>
          <li><a href="/contacts_page.html">Контакти</a></li>
        </ul>
      </nav>        
    </div>

    <div class="page-header__social">
      <div class="prymary-socials">
        <ul>
          <li><a href="#">
            <div class="prymary-socials-frame">
              <i class="fab fa-instagram"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="prymary-socials-frame">
              <i class="fab fa-google-plus-g"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="prymary-socials-frame">
              <i class="fab fa-facebook-f"></i>
            </div>
          </a></li>
        </ul>
      </div>
    </div>

    <!-- Toggle Menu -->
    <button class="toggle-mnu">
      <span class="sandwich"> 
        <span class="sw-topper"></span>
        <span class="sw-bottom"></span>
        <span class="sw-footer"></span>
      </span>
    </button>

    <nav class="top-mnu "> 

      <div class="mobile-menu">
        <ul>
          <li><a href="/about_us_page.html">Про Нас</a></li>
          <li><a href="/workers_page.html">Навчання Робітників</a></li>
          <li><a href="/itp_page.html">Навчання ІТП</a></li>
          <li><a href="/energy_audit_page.html">Енергоаудит</a></li>
          <li><a href="/contacts_page.html">Контакти</a></li>
        </ul>
      </div> 
      

      <div class="mobile-socials">
        <ul>
          <li><a href="#">
            <div class="mobile-socials-frame">
              <i class="fab fa-instagram"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="mobile-socials-frame">
              <i class="fab fa-google-plus-g"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="mobile-socials-frame">
              <i class="fab fa-facebook-f"></i>
            </div>
          </a></li>
        </ul>
      </div>

    </nav>

    <!-- Toggle Menu -->

  </header>


  <!-- START Section About Us -->
  <section class="section section-lg section--full-width section--white">
    <div class="wrapper">
      <div class="shell">
        <div class="range">

          <div class="cell-lg-6 cell-xl-6">
            <h1>Львівський Обласний Учбовий Центр</h1>
            <div class="divider-title"></div>
            <p>Комунальне підприємство Львівської обласної ради "Львівський обласний учбовий центр підготовки та підвищення кваліфікації робітників та інженерно-технічних працівників і спеціалістів для виконання робіт із підвищеною небезпекою" відповідно для ліцензії від 08.01.2013 року №073338, виданої Міністерством освіти і науки, молоді і спорту України, надає послуги з професійної освіти на рівні кваліфікаційних вимог до кваліфікованих робітників та інженерно-технічних працівників для виконання робіт з підвищеною небезпекою.  <br>

              Робітники та інженерно-технічні працівники і спеціалісти для виконання робіт з підвищеною небезпекою, періодично, згідно з Типовим положенням про порядок проведення навчання і перевірки знаннь з питаннь охорони праці (НПАОП 0.00-4.12-05), затвердженого наказом Державного Комітету України з нагляду за охороною праці від 26.01.2005 року №15, зобов'язані проходити навчання в спеціалізованих підприємствах з підвищення кваліфікації та перевірки знаннь з питаннь охорони праці та безпечного ведення робіт, що характеризуються підвищеним ступенем ризику виникнення аварій, пожеж загрози життю, заподіяння шкоди здоров'ю, майну довкіллю. <br>

              Згідно з вимогами, спеціальне навчання для робітничих професій має здійснюватися щорічно, для інженерно-технічних працівників, які зайняті на роботах з підвищеною небезпекою, або там де є потреба в професійному доборі, - раз на три роки, а у разі виходу нових НПАОПів - повторно.
              <br>
              Підприємство володіє всіма дозволами, ліцензіями і сертифікатами для здійснення своєї діяльності.
              Навчання з питаннь охорони праці є найефективнішим засобом профілактики виробничого травматизму. Кожний роботодавець має усвідомити, що працівник, який пройшов навчання та перевірку знань з питань охорони прці та володіє безпечними методами робіт, збережене не лише власне життя і здоров'я, а й убезпечить від трагедій своїх колег.
              <br>
            КП ЛОР "ЛОУЦ" пропонує повний комплекс послуг з організації охорони праці та підприємстві.</p>
            
          </div>

          <div class=" cell-lg-4 cell-xl-4">

            <div class="img-wrapper">
              <img class="img-responsive" src="assets/img/logo/logo_section_lg.png" alt="Львівський Обласний Учбовий Центр">
            </div>
            <div class="quote quote--grey">
              <h4 class="quote__text">Підприємство володіє всіма дозволами, ліцензіями і сертифікатами для здійснення своєї діяльності.</h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- END Section About Us -->




  <!-- START Section Some images -->
  <section class="section section-lg section--full-width section--blue">
    <div class="wrapper">
      <div class="shell">



        <div class="range range-lg-justify">

          <div class=" cell-lg-3 ">
           <div class="img-wrapper">
            <picture>
              <source srcset="assets/img/about_page/about_1_lg.png" media="(min-width: 480px)">
                <img class="img-responsive" src="assets/img/about_page/about_1_xs.png" alt="Підготовка та підвищення кваліфікації робітників">
              </picture>
            </div>
          </div>

          <div class=" cell-lg-3 ">
           <div class="img-wrapper">
            <picture>
              <source srcset="assets/img/about_page/about_2_lg.png" media="(min-width: 480px)">
                <img class="img-responsive" src="assets/img/about_page/about_2_xs.png" alt="Підготовка та підвищення кваліфікації робітників">
              </picture>
            </div>
          </div>

          <div class=" cell-lg-3 ">
           <div class="img-wrapper">
            <picture>
              <source srcset="assets/img/about_page/about_3_lg.png" media="(min-width: 480px)">
                <img class="img-responsive" src="assets/img/about_page/about_3_xs.png" alt="Підготовка та підвищення кваліфікації робітників">
              </picture>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- END Section Some images -->

  <!-- START Section Сontacts & address -->
  <section class="section section-lg--title section--full-width section--white">
    <div class="wrapper">
      <div class="shell">
        <h1>Контакти та адреса</h1>
        <div class="divider-title"></div>
      </div>
    </div>
  </section>

  <section class="section section-sm section--full-width section--white">
    <div class="wrapper">
      <div class="shell">
        <div class="range">
          <div class="cell-lg-5 cell-xl-5">

            <div class="page-contacts__logo">
              <a href="#">

                <picture>
                  <source srcset="assets/img/logo/logo_footer_lg.png" media="(min-width: 480px)">
                    <img class="img-responsive" src="assets/img/logo/logo_footer_xs.png" alt="Львівський Обласний Учбовий Центр"> 
                  </picture>
                </a>
                <div class="page-contacts__logo-text">
                  <div class="first-text">Комунальне підприємство Львівської обласної ради</div>
                  <div class="sec-text"> «Львівський обласний учбовий центр»</div>
                </div>
              </div>

            </div>

            <div class="cell-lg-4 cell-xl-4 section-xs-mt-30">
              <h4>Контакти</h4>
              <div class="divider-title"></div>
              <div class="page-contacts__data">
                <ul>
                  <li><span>Адреса:</span>79034 м. Львів, вул. Тернопільська. 2А</li>
                  <li><span>Приймальня:</span></li>

                  <li><span>Тел./факс:</span>270-05-92 <span> Моб:</span>067-67-361-74</li>

                  <li><span>Бухгалтерія:</span>232-05-93</li>
                  <li><span>E-mail:</span>kp_loyts@ukr.net</li>
                </ul>
              </div>

            </div>

            <div class="cell-lg-1 cell-xl-1">
              <div class="page-contacts__social page-contacts__social--xs-inline ">
                <ul>
                  <li><a href="#">
                    <div class="contacts-socials-frame">
                      <i class="fab fa-instagram"></i>
                    </div>
                  </a></li>
                  <li><a href="#">
                    <div class="contacts-socials-frame">
                      <i class="fab fa-google-plus-g"></i>
                    </div>
                  </a></li>
                  <li><a href="#">
                    <div class="contacts-socials-frame">
                      <i class="fab fa-facebook-f"></i>
                    </div>
                  </a></li>
                </ul>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- END Section Сontacts & address-->


    <footer class="section page-footer--full  section--full-width section--blue">
      <div class="wrapper">
        <div class="range">

          <div class="cell-sm-5">
            <p class="copyright">
              КПЛОР ЛОУЦ  ©  <span class="copyright-year"></span>. Усі права захищено
            </p>
          </div>

          <div class="cell-sm-5 text-sm--right">
            <a class="author" href="#">By LUAN & Co.</a>
          </div>

        </div>
      </div>
    </footer>




    <!-- To top button -->
    <a href="#" id="ui-to-top" class="ui-to-top">
      <i class="fas fa-arrow-alt-circle-up"></i>
    </a>






  </body>
<!-- build:js assets/scripts/core.min.js -->
<script src="/temp/scripts/core.min.js"></script>
<!-- endbuild -->

<!-- for testing js -->
<!-- <script src="/temp/scripts/allCore.min.js"></script> --> 

<!-- build:js assets/scripts/App.js -->
<script src="/temp/scripts/App.js"></script> 
<!-- endbuild -->


</html>