<!DOCTYPE html>

<html class="desktop" lang="en"> 

<head> 
  <title>Львівський Обласний Учбовий Центр</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  
  
  <!-- Styles -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- Fonts with icons -->
  <link rel="stylesheet" href="assets/styles/base/fonts/fonts.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>
<body>
  <header class="page-header">

    <div class="page-header__logo">
      <a href="#">
        <img src="assets/img/logo/logo_header_lg.png" alt="Львівський Обласний Учбовий Центр">
      </a>
      <div class="page-header__logo-text">
        <div class="first-text">Комунальне підприємство Львівської обласної ради</div>
        <div class="sec-text"> «Львівський обласний учбовий центр»</div>
      </div>
    </div>

    <div class="page-header__menu-content">
      <nav class="primary-nav">
        <ul>
          <li><a href="#">Про Нас</a></li>
          <li><a href="#">Навчання Робітників</a></li>
          <li><a href="#">Навчання ІТП</a></li>
          <li><a href="#">Енергоаудит</a></li>
          <li><a href="#">Контакти</a></li>
        </ul>
      </nav>        
    </div>

    <div class="page-header__social">
      <div class="prymary-socials">
        <ul>
          <li><a href="#">
            <div class="prymary-socials-frame">
              <i class="fab fa-instagram"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="prymary-socials-frame">
              <i class="fab fa-google-plus-g"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="prymary-socials-frame">
              <i class="fab fa-facebook-f"></i>
            </div>
          </a></li>
        </ul>
      </div>
    </div>
  </header>

  

  <!-- START Swiper -->  
  <section class="section section--full-width swiper-modern">
    <div class="swiper-container swiper-slider" data-clickable="true" data-slide-effect="fade" data-autoplay="400000" data-simulate-touch="false">
      <div class="swiper-wrapper">

        <div class="swiper-slide" data-slide-bg="assets/img/slider/slider_bg_1.png">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <h1 class="font-semibold">Львівський Обласний Учбовий Центр</h1>
                <div class="divider-title"></div>
                <p class="heading-4 add-title font-medium">Запрошуємо Вас до тісної співпраці</p>
                <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг. <br>
                Покращуйте свої професійні навички та станьте якісним та незамінним працівником.</p>
                <a href="#" class="button button-primary button--effect-cool">Почати Cпівпрацю</a>
                <a href="#" class="button button-normal button--effect-cool">Дізнатись Більше <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/slider_bg_2.png">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <h1 class="font-semibold">Львівський Обласний Учбовий Центр</h1>
                <div class="divider-title"></div>
                <p class="heading-4 add-title font-medium">Запрошуємо на навчання робітників</p>
                <p>Ми надаємо якісні освітні послуги, пов'язані з одержанням професійної освіти та рівні кваліфікаційних вимог до курсового-технічного навчання, підвищення кваліфікації за різноманітними робітничими  професіями. Адже сила робітничої професії в теоретичних знаннях, що вдало використовуються на практиці.</p>
                <a href="#" class="button button-primary button--effect-cool">Почати Cпівпрацю</a>
                <a href="#" class="button button-normal button--effect-cool">Дізнатись Більше <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/slider_bg_3.png">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <h1 class="font-semibold">Львівський Обласний Учбовий Центр</h1>
                <div class="divider-title"></div>
                <p class="heading-4 add-title font-medium">Запрошуємо на навчання ІТП</p>
                <p>Ми надаємо якісні освітні послуги, пов'язані з одержанням професійної освіти та рівні кваліфікаційних вимог до курсового-технічного навчання, підвищення кваліфікації за різноманітними напрямами для відповідальних інженерно технічних працівників. В кожній професії потрібен розвиток і ми Вам допоможемо рухатись у правильному векторі.</p>
                <a href="#" class="button button-primary button--effect-cool">Почати Cпівпрацю</a>
                <a href="#" class="button button-normal button--effect-cool">Дізнатись Більше <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/slider_bg_4.png">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <h1 class="font-semibold">Львівський Обласний Учбовий Центр</h1>
                <div class="divider-title"></div>
                <p class="heading-4 add-title font-medium">Замовляйте енергоаудит  у спеціалістів</p>
                <p>Ми займаємось здійсненням енергоаудиту будівель різних форм власності та надання рекомендацій енергозбереження за сприяння Європейського Союзу та Програми розвитку ООН, комунальне підприємство проводить роботи з енергоаудиту будівель  на предмет визначення тепловтрат та рекомендацій щодо енергозбереження. </p>
                <a href="#" class="button button-primary button--effect-cool">Почати Cпівпрацю</a>
                <a href="#" class="button button-normal button--effect-cool">Дізнатись Більше <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
      <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
    </div> 
  </section>
  <!-- END Swiper -->  

  <!-- START Section About Us -->
  <section class="section section-lg section--full-width section--white">
    <div class="wrapper">
      <div class="shell">
        <div class="range">
          <div class="cell-lg-6 cell-xl-5">
            <h1>Декілька слів про нас</h1>
           <div class="divider-title"></div>
           <p>Комунальне підприємство Львівської обласної ради  "Львівський обласний учбовий центр підготовки та підвищення кваліфікації робітників та інженерно-технічних працівників і спеціалістів для виконання робіт із підвищеною небезпекою" , надає послуги з професійної освіти на рівні кваліфікаційних вимог до кваліфікованих робітників та інженерно-технічних працівників для виконання робіт з підвищеною небезпекою. <br>
            Навчання з питаннь охорони праці є найефективнішим засобом профілактики виробничого травматизму. Кожний роботодавець має усвідомити, що працівник, який пройшов навчання ...</p>
            <a href="#" class="button button-normal button--effect-cool">Дізнатись Більше <i class="fas fa-arrow-right"></i></a>
          </div>
          <div class="cell-lg-4 cell-xl-5">
            <div class="img-wrapper">
              <img  src="assets/img/logo/logo_section_lg.png" alt="Львівський Обласний Учбовий Центр">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Section About Us -->


  <!-- START Section About Us -->
  <!-- END Section About Us -->
 

    <footer class="section page-footer--full  section--full-width">
      <div class="wrapper">
        <div class="range">

          <div class="cell-sm-5">
            <p class="copyright">
              Clinic  ©  <span class="copyright-year"></span>. <a href="#">Privacy Policy</a>
            </p>
          </div>

          <div class="cell-sm-5 text-sm--right">
            <ul class="list-inline">
              <li>Follow Us</li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    
    
    <!-- To top button -->
    <a href="#" id="ui-to-top" class="ui-to-top"><i class="fas fa-angle-up"></i></a>
    





  </body>

  <script src="/temp/scripts/core.min.js"></script>
  <!-- <script src="/temp/scripts/allCore.min.js"></script> -->
  <script src="/temp/scripts/App.js"></script> 



  </html>