<!DOCTYPE html>

<html class="desktop" lang="en"> 

<head> 
  <title>Test Clinic</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  
  
  <!-- Styles -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- Fonts with icons -->
  <link rel="stylesheet" href="assets/styles/base/fonts/fonts.css">
  <!-- Noramlize.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="assets\img\favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets\img\favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets\img\favicon/favicon-16x16.png">
  <link rel="manifest" href="assets\img\favicon/site.webmanifest">
  <link rel="mask-icon" href="assets\img\favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets\img\favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="assets\img\favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>
<body>
  <header class="page-header">

    <div class="page-header__logo">
      <a href="#">
        <img src="assets/img/logo/logo.png" alt="Clinic logo">
      </a>
    </div>

    <div class="page-header__menu-content">
      <nav class="primary-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Timetable</a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>        
    </div>

    <div class="page-header__search">
      <a href="#" class="page-header__search-toggle"><i class="fas fa-search"></i></a>
    </div>
  </header>

  

  <!-- Start Swiper -->  
  <section class="section section--full-width swiper-modern">
    <div class="swiper-container swiper-slider" data-clickable="true" data-slide-effect="fade" data-autoplay="4000" data-simulate-touch="false">
      <div class="swiper-wrapper">

        <div class="swiper-slide" data-slide-bg="assets/img/swiper-slider/slide-01.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <p class="heading-4 heading-divider-modern" style="font-weight: 400">Individual approach to each patient</p>
                <h1>Medical Service</h1>
                <a href="#" class="button button-primary button--effect-cool">make an Appointment</a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/swiper-slider/slide-02.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <p class="heading-4 heading-divider-modern" style="font-weight: 400">Committed to excellent and complete patient care</p>
                <h1>Medical Clinic</h1>
                <a href="#" class="button button-primary button--effect-cool">make an Appointment</a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/swiper-slider/slide-03.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">
                <p class="heading-4 heading-divider-modern" style="font-weight: 400">A range of programs for women’s healthcare</p>
                <h1>Special Touch</h1>
                <a href="#" class="button button-primary button--effect-cool">make an Appointment</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
      <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
    </div> 
  </section>
  <!-- End Swiper -->  

  

 

    <footer class="section page-footer--full  section--full-width">
      <div class="wrapper">
        <div class="range">

          <div class="cell-sm-5">
            <p class="copyright">
              Clinic  ©  <span class="copyright-year"></span>. <a href="#">Privacy Policy</a>
            </p>
          </div>

          <div class="cell-sm-5 text-sm--right">
            <ul class="list-inline">
              <li>Follow Us</li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    
    
    <!-- To top button -->
    <a href="#" id="ui-to-top" class="ui-to-top"><i class="fas fa-angle-up"></i></a>
    





  </body>

  <script src="/temp/scripts/core.min.js"></script>
  <!-- <script src="/temp/scripts/allCore.min.js"></script> -->
  <script src="/temp/scripts/App.js"></script> 



  </html>